body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.baner{
    height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(wall.gif);
    background-size: cover;
    background-position: center;
}
.navbar{
     width: 85%;
     margin: auto;
     padding: 35 px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
#title{
    margin-left: -300px;
    margin-top: 38px;
    font-size: 20pt;
}
.logo{
    width: 60px;
    margin-top: 10px;
    cursor: pointer;
}  
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
 
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background-color: rgb(42, 42, 209);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;   
    color: white;
}
.content p{
    font-size: 25px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 20px;
}
.content h1{
    font-size: 70px;
    margin-top: 200px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(42, 42, 209);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(42, 42, 209);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
