:root{
    --bg-color: url(wall.gif);
    --typewriterSpeed: 2s;
    --typewriterCharacters: 6;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.baner{
    height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)), url(wall.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

#title{
    margin: auto;
    margin-left: -400px;
    margin-top: 0;
    font-size: 20pt;
    color: #fff;
    text-decoration: none;
    list-style: none;
    position: absolute;
    left: 600px;
}
.logo{
    width: 60px;
    margin-top: 10px;
    cursor: pointer;
}  

/* navbar */
.navbar{
  width: 85%;
  margin: auto;
  padding: 35 px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
 
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(42, 42, 209);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/* navbar end */
.content{
    position:fixed;
    width: 100%;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;   
    color: white;
}
.content p{
    font-size: 25px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 20px;
    color: #fff;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) - 2s) forwards;
}
@keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.content h1{
    font-size: 70px;
    margin-top: 200px;
    position: relative;
    font-family: "Source Code Pro", monospace;
    text-align: center;
}
/*
.content h1::before,
.content h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;

}

.content h1::after {
    width: 0.125em;
    background: white;
    animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;

}
*/
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(42, 42, 209);
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(42, 42, 209);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}

/* bar */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #680000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(22, 22, 22);
  }